$header-bg-color: rgb(21,56,75);
$header-text-color: #ffffff;
$hover-color: rgb(23,190,198);
$bg-color:rgb(19, 40, 54);
$card-color: white;
@mixin row($value){
    display: flex;
    width: 100%;
    justify-content: $value;
    margin: auto;
    align-items: center;
}
@mixin column($value){
    display: flex;
    flex-direction: column;
    justify-content: $value;
    margin: auto;
    align-items: center;
}
@mixin hover(){
    :hover{
        color:$hover-color !important;
    }
}

@mixin text-format($width){
    width: $width;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
}